
<div>

<script>
    $( "#datepicker" ).datepicker();
    $( "button" ).button();
    $( "label" ).label();
</script>
</div>
<pre>
<table>
    <tr>
         <td><label>Enter User Name  </label> </td>
	      <td>  </td>
	</tr>
</table>
</pre>
<pre>
  <button>Login</button>
  
</pre>
