<footer class="footer">
  <small>
   CopyRight R.S Corporation
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_about_path %></li>
      <li><%= link_to "Contact", static_contact_path %></li>
      <li><%= link_to "News", static_news_path %></li>
    </ul>
  </nav>
</footer>
